<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>
	<!-- 별칭! -->
	<typeAliases>
		<typeAlias type="com.day.dto.Customer" alias="customer" />
		<typeAlias type="com.day.dto.Product" alias="product" />
		<typeAlias type="com.day.dto.OrderInfo" alias="orderinfo" />
		<typeAlias type="com.day.dto.OrderLine" alias="orderline" />
	</typeAliases>
	<mappers>
		<mapper resource="ProductMapper.xml"></mapper>
		<mapper resource="CustomerMapper.xml"></mapper>
		<mapper resource="OrderMapper.xml"></mapper>
	</mappers>
</configuration>