* {
  box-sizing: border-box;
}
table.productlist {
  width: 500px;
  height: 300px;
  border: 1px solid;
  border-collapse: collapse;
}

table.productlist tr > td {
  width: 20%;
  margin: 5px;
  border: 1px solid;
}

table.productlist tr > td > ul {
  list-style-type: none;
  text-align: center;
}

table.productlist tr > td > ul > li:first-child {
  margin-bottom: 10px;
  max-width: 100%;
}

table.productlist tr > td > ul > li > img {
  width: 280px;
  height: 288px;
}

table.productlist tr > td > ul:last-child {
  color: #555555;
  font-size: 0.8em;
  font-weight: 600;
}
